<tr>
    <td colspan="6" class="text-end">
        <form action="{% url 'inventory:approve_transfer' transfer.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-sm btn-success">✅ Approve</button>
        </form>

        <form action="{% url 'inventory:reject_transfer' transfer.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-sm btn-danger">❌ Reject</button>
        </form>

    </td>
</tr>
