{% extends 'dashboard/base.html' %}
{% block content %}
{% block title %}Stock Transfer History{% endblock %}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="mb-0">📋 Stock Transfer History</h3>
        </div>
        <div class="card-body">
            {% if transfers %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Quantity</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transfer in transfers %}
                        <tr>
                            <td>{{ transfer.product }}</td>
                            <td>{{ transfer.source_store }}</td>
                            <td>{{ transfer.destination_store }}</td>
                            <td>{{ transfer.quantity }}</td>
                            <td>{{ transfer.get_status_display }} </td>
                            <td>{{ transfer.created_at|date:"Y-m-d H:i" }}</td>
                            <td><a href="{% url 'inventory:transfer_slip_pdf' transfer.id %}" class="btn btn-sm btn-secondary" target="_blank">📄 PDF</a>
                            </td>
                        </tr>

                        {% if transfer.status == 'requested' and request.user.is_superuser %}
                            {% include 'inventory/partials/transfer_actions.html' with transfer=transfer %}
                        {% elif transfer.status == 'requested' and request.user.can_approve_transfers and transfer.destination_store.id in user_store_ids %}
                            {% include 'inventory/partials/transfer_actions.html' with transfer=transfer %}
                        {% endif %}
                        {% endfor %}

                    </tbody>
                    

                </table>
            {% else %}
                <p>No stock transfers found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}